<body>
  <nav class="navMenu text-center">
    <a routerLink="home" routerLinkActive="active" (click)="onActivateRoute()"> Overviews </a>
    <a
      routerLink="schedules"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onActivateRoute()"
    >
      Schedule
    </a>
    <a [routerLink]="['/new-schedule']" routerLinkActive="active"
    (click)="onActivateRoute()"
      >New Schedule</a
    >
    <!-- <div class="dot"></div> -->
  </nav>
</body>
